/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/* css/styles.css */
body {
  margin: 0;
  font-family: sans-serif;
  background: #f2f2f2;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  list-style: none;
  padding: 24px 156px;
}

.gallery-item {
  flex-basis: calc(33.333% - 24px);
}

.gallery-image {
  width: 360px;
  height: 200px;
  display: block;
}

/* Form  */

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 360px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 24px;
}

.feedback-form label {
  display: flex;
  flex-direction: column; /* Розміщення по вертикалі */
  align-items: flex-start; /* Вирівнювання ліворуч */
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 8px 16px;
}

.btn {
  margin-top: 16px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
}

.btn:hover {
  background-color: #6c8cff;
}
